<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/c5bcb555c7.js"
      crossorigin="anonymous"
    ></script>
    <title>Passing Notes</title>
  </head>
  <body>
    <header class="join-header">
      <h1><i class="fa-regular fa-paper-plane"></i> Passing Notes</h1>
    </header>
    <form action="/signUp" method="post">
      <div class="input-field">
        <input type="text" name="name" placeholder="Enter your name" required />
        <i class="uil uil-user"></i>
      </div>
      <div class="input-field">
        <input
          type="text"
          placeholder="Enter your email"
          name="email"
          required
        />
        <i class="uil uil-envelope icon"></i>
      </div>
      <div class="input-field">
        <input
          type="password"
          class="password"
          name="password"
          placeholder="Create a password"
          required
        />
        <i class="uil uil-lock icon"></i>
      </div>
      <div class="input-field">
        <input
          type="password"
          name="confirmedPassword"
          class="password"
          placeholder="Confirm a password"
          required
        />
        <i class="uil uil-lock icon"></i>
        <i class="uil uil-eye-slash showHidePw"></i>
      </div>

      <div class="checkbox-text">
        <div class="checkbox-content">
          <input type="checkbox" id="termCon" />
          <label for="termCon" class="text"
            >I accepted all terms and conditions</label
          >
        </div>
      </div>

      <div class="input-field button">
        <input type="submit" value="Signup" />
      </div>
    </form>
  </body>
</html>
